body {
    background-color: #112232;
    text-align: center;
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
   }

   #about {
    background-color: #335556;
    text-align: left;
    margin: -30px;
    padding: 100px;
   }

    #contact {
    background-color: #66999a;
    text-align: right;
    margin: -30px;
    padding: 100px;
   }

   #footer{
    background-color: #335556;
   }
   #footer img {
    width: 75px;
    padding: 20px;
   }

   #topNav {
    background-color: #4b1925;
    margin-bottom: 30px;
    padding-top: 2em;
    padding-bottom: 2em;
   }
   #topNav a {
    color: #d4d9dd;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
   }
   #topNav a:hover {
    color: black;
    background-color: #616161;
   }