body {
    text-align: center;
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
   }

   #about {
    background-color: #424246;
    text-align: left;
    margin: -30px;
    padding: 100px;
   }

    #contact {
    background-color: #d4d9dd;
    text-align: right;
    margin: -30px;
    padding: 100px;
   }

   #footer{
    background-color: #424246;
   }
   #footer img {
    width: 75px;
    padding: 20px;
   }