body {
    text-align: center;
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
   }
   
h1 {
    font-size: 3em;
   }
 h2 {
    font-size: 2.25em;
   }

  

#main_body{
    background-color: #93ACB5;
    margin-top: 75px; 
    padding: 25px 10px 25px 10px;
    border:solid; 
    border-color: #6C756B; 
    border-width: thick;
   }

.aboutMe {
    margin-bottom: 15px;
    background-color: #6C756B;

   }

#listHeader{
    background-color: #6C756B;
}

